<div class="form-group m-b-0">
    <div class="form-check">
        <input type="checkbox" class="form-check-input add-item-form-check" id="check-item" ng-model="lead.checkItem">
    </div>
    <div class="address-item row-fields-width product-div">
        <label for="name" class="second-row-label required-field">Product</label>
        <div class="input-group">
            <input type="text" id="product" ng-model="lead.product" class="form-control" required placeholder="">
            <div class="input-group-append">
                <span class="input-group-text input-name-search">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="address-item row-fields-width">
        <label for="desc" class="second-row-label">Description</label>
        <input type="text" id="desc" ng-model="lead.desc" class="form-control" placeholder="">
    </div>
    <div class="address-item row-number-fields-width">
        <label for="qtySqft" class="second-row-label">QTY/SQFT</label>
        <input type="number" id="qtySqft" ng-model="lead.qtySqft" class="form-control">
    </div>
    <div class="address-item row-number-fields-width">
        <label for="qty" class="second-row-label required-field">Quantity</label>
        <input type="number" id="qty" ng-model="lead.qty" class="form-control">
    </div>
    <div class="address-item row-number-fields-width">
        <label for="mrp" class="second-row-label">MRP/SQFT</label>
        <input type="number" id="mrp" ng-model="lead.mrp" class="form-control">
    </div>
    <div class="address-item row-number-fields-width">
        <label for="net" class="second-row-label required-field">NET/SQFT</label>
        <input type="number" id="net" ng-model="lead.net" class="form-control">
    </div>
    <div class="address-item row-number-fields-width">
        <label for="mrpTotal" class="second-row-label">MRP Total</label>
        <input type="number" id="mrpTotal" ng-model="lead.mrpTotal" class="form-control" disabled>
    </div>
    <div class="address-item row-number-fields-width">
        <label for="netTotal" class="second-row-label required-field">NET Total</label>
        <input type="number" id="netTotal" ng-model="lead.netTotal" class="form-control" disabled>
    </div>
    <div class="address-item row-number-fields-width">
        <label for="tax" class="second-row-label required-field">Tax(%)</label>
        <input type="number" id="tax" ng-model="lead.tax" class="form-control">
    </div>
    <div class="address-item row-number-fields-width">
        <label for="taxAmt" class="second-row-label required-field">Tax Amount</label>
        <input type="number" id="taxAmt" ng-model="lead.taxAmt" class="form-control" disabled>
    </div>
    <div class="address-item row-number-fields-width">
        <label for="sale" class="second-row-label required-field">Sale Value</label>
        <div class="input-group">
            <input type="number" id="sale" ng-model="lead.sale" class="form-control">
            <div class="input-group-append">
                <span class="input-group-text input-name-search">
                    <i class="fa fa-plus"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="address-item static-field-div">
        <input type="text" class="static-field" class="form-control" readonly>
    </div>
    <div class="right-side-inputs">
        <div class="display-flex right-input-fields-width" ng-repeat="field in rightSideInputFields">
            <div class="radio-buttons" ng-if="field.showRadioButtons">
                <label class="second-row-label discount-radio-label">Discount</label>
                <div class="radio-button-group">
                    <input type="radio" id="{{field.id}}-perc" ng-model="lead[field.id + 'Option']" value="perc">
                    <label for="{{field.id}}-perc" class="radio-button-input-label">%</label>
                    <input type="radio" id="{{field.id}}-amount" ng-model="lead[field.id + 'Option']" value="amount">
                    <label for="{{field.id}}-amount">Amount</label>
                </div>
            </div>
            <label for="{{field.id}}" class="second-row-label" ng-if="!field.showRadioButtons">{{field.label}}</label>
            <input type="number" id="{{field.id}}" ng-model="lead[field.id]" class="form-control" ng-disabled="isFieldDisabled(field.id)" ng-style="{'background-color': setFieldBackgroundColor(field.id)}">
        </div>
    </div>
</div>
